.appLayout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainArea {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 56px);
  background: #1D2125;
}
